{% load static %}


<div class="flex fl-direc-colum alg-it-center ">
    <div class="m ">
        <h1>Baloratu: {{ product.name }}</h1>
    </div>
</div>


<form method="post" class=" flex fl-direc-colum m " action="{% url 'add_rating' product.product_id %}">
    {% csrf_token %}
    <div class="flex fl-direc-row fl-justcon-sbetw">
        <p class="rating-value f-zie-18 f-w-bold">Balorazioa</p>
        <div class="rating">
            <input type="radio" name="rating" id="star10" value="5">
            <label for="star10" class="full"></label>
    
           
    
            <input type="radio" name="rating" id="star8" value="4">
            <label for="star8" class="full"></label>
    
           
    
            <input type="radio" name="rating" id="star6" value="3">
            <label for="star6" class="full"></label>
    
            
    
            <input type="radio" name="rating" id="star4" value="2">
            <label for="star4" class="full"></label>
    
            
    
            <input type="radio" name="rating" id="star2" value="1">
            <label for="star2" class="full"></label>
    
           
        </div>
        
    </div>
    

    <label for="message" class="rating-value f-zie-18 f-w-bold">Mezua:</label>
    <textarea name="message" id="message" required></textarea>

    <button type="submit" class="btn btn-green submit-form">Bidali</button>
</form>

<script>
    const radioElement = document.querySelectorAll("input[name='rating']");
    const rating = document.querySelector(".rating-value");

    radioElement.forEach((radio) => {
        radio.addEventListener("click", () => {
            let value = radio.value;
            rating.innerText = `${value}`;
        });
    });
</script>


