<h1>Valorar producto: {{ product.name }}</h1>
<form method="post" action="{% url 'add_rating' product.product_id %}">
    {% csrf_token %}
    <div class="rating">
        <input type="radio" name="rating" id="star10" value="5">
        <label for="star10" class="full"></label>

       

        <input type="radio" name="rating" id="star8" value="4">
        <label for="star8" class="full"></label>

       

        <input type="radio" name="rating" id="star6" value="3">
        <label for="star6" class="full"></label>

        

        <input type="radio" name="rating" id="star4" value="2">
        <label for="star4" class="full"></label>

        

        <input type="radio" name="rating" id="star2" value="1">
        <label for="star2" class="full"></label>

       
    </div>
    <p class="rating-value">Your Feedback</p>

    <label for="message">Mensaje:</label>
    <textarea name="message" id="message" required></textarea>

    <button type="submit" class="btn btn-success">Enviar valoración</button>
</form>

<script>
    const radioElement = document.querySelectorAll("input[name='rating']");
    const rating = document.querySelector(".rating-value");

    radioElement.forEach((radio) => {
        radio.addEventListener("click", () => {
            let value = radio.value;
            rating.innerText = `${value}`;
        });
    });
</script>

<style>
    @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css);
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .rating > input {
        display: none;
    }

    .rating > label::before {
        content: '\f005'; /* Icono de estrella completa */
        font-family: FontAwesome;
        margin: 5px;
        font-size: 1.5rem;
        display: inline-block;
        cursor: pointer;
    }

    .rating > .half::before {
        content: '\f089'; /* Icono de media estrella */
        position: absolute;
    }

    .rating > label {
        color: #ddd;
        float: right;
        transition: 0.2s;
    }

    .rating > input:checked ~ label,
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: gold; /* Color de las estrellas seleccionadas */
    }
</style>
