{% load i18n %}

{% if addresses %}
    <ul>
        {% for address in addresses %}
            <li>
                {{ address.address1 }} ...
                <a class="btn  btn-red" href="{% url 'delete_address' address.address_id %}">{% trans "Eliminar Direccion" %}</a>
                <a class="btn  btn-orange editAddressButton" id="{{address.address_id}}" role="button">{% trans "Edit" %}</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <h4>{% trans "Oraindik ez duzu helbiderik gehitu..." %}</h4>
{% endif %}