
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>OnlyBites</title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home-style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/fonts.css' %}"/>
    
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/LOGO-02.svg' %}" alt="logo image onlybites" class="logo-img"></a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'menu' %}">Menu</a></li>
                </ul>
    
                <ul class="nav navbar-nav navbar-right">
                        <li><a href="{% url 'cart' %}">Cart</a></li>
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a class="btn btn-login" href="{% url 'login' %}">Login</a></li>
                        <li><a class="btn btn-register" href="{% url 'register' %}">Register</a></li>
                </ul>
            </div>
    
        </div>
    </nav>

    <div class="content container">
        <div class="blank-space">
              
        </div>
    
        {% block content %} {% endblock %}
    </div>
   <footer>
    <div class="container center">
        <div class="row mt-10">
            <div class="col-lg-4 info">
                <h4>Gure bila etorri</h4>
                <p>tel: 943267802</p>
                <p>Errebal Kalea 3, Eibar, Gipuzkoa 20600</p>
            </div>
            
            <div class="col-lg-4 info">
                <h4>Gure ordutegia</h4>
                <p>Astelenetik Ostiralera: 12:00-16:00 | 19:00-23:00</p>
                <p>Larunbata eta igandea 12:00-16:00 | 19:00-00:00</p>
                <p>Jai egunak 19:00-23:00</p>
            </div>
            
            <div class="col-lg-4 info">
                <h4>Jarraitu gure sozialetan</h4>
                <!--instagram-->
                <a><img/></a>
                <!--facebook-->
                <a><img/></a>
                <!--x-->
                <a><img/></a>
            </div>
            <!-- <div class="col-lg-4 contacto">

                <p>Kontaktua</p>
               
                    <ul>
                        <li>Tel: 943687207</li>
                        <li>Errebal Kalea 3</li>
                       
                    </ul>
                
            </div>
       
            <div class="col-lg-4 contacto">

                <p>Ordutegia</p>
                
                    <ul>
                    
                        <li>Lunes a Viernes de 9:00 a 21:00 | Fines de semana de 10:00 a 23:00</li>
                    </ul>
                
            </div>
            <div class="col-lg-4 contacto">

                
            
                    <ul>
                        <li>instagram</li>
                        <li>facebook</li>

                    
                    </ul>
                
            </div> -->
        </div>
            
        
        
        

    </div>
   </footer>
</body>

</html>
