{% extends 'onlybites_web/base.html' %} 
{% block content %} 
{% load static %}
<div class="min-height">
    <div class=" flex fl-direc-colum m-left-10 ">
        <div >
            <h1>{{ profile.name }}-ren saskia</h1>
        </div>
        <div class="section-title"> <h3>Produktuak:</h3></div>
    </div>
    
    <div class="separate-line"></div>
    
    <div class="row flex fl-direc-colum">
        {% if carts %}
            {% for cart in carts %}
            <div id="producto-carrito" class="flex fl-justcon-sbetw alg-it-center wid-90 " >
                <div class="flex alg-it-center " >
                    <!--product img-->
                    <div >
                        <img src="{% static 'img/boloñesa.png' %}" alt="Pasta bolognese"class="cart-img" >
                    </div>
                <!--product name-->
                    <div class="flex fl-direc-colum ml-20 height-120 fl-justcon-sbetw">
                        <h3 class="cart-product ">{{ cart.product.name }}</h3>
                    <!--product price-->
                    <div class="flex flfl-direc-colum fl-justcon-sbetw">
                        <p class="f-w-bold playfair cart-price">{{ cart.product.price }}€</p>

                        <div>
                        <a href="{% url 'delete_cart' cart_id=cart.id %}">
                            <img class="cart-btn" id="delete-btn" src="{% static 'img/icons/delete-btn.svg' %}"/>
                        </a>
                        </div>
                    </div>
                        
                    </div>
                </div>
            
                <div  class="flex alg-it-center" >
                    <div>
                    <a href="{% url 'reduce_cart' product_id=cart.product.product_id %}">
                        <img class="cart-btn" id="minus-button" src="{% static 'img/icons/Minus-circle.svg' %}"/>
                    </a>
                    </div>
                    <!--product amount-->
                    <div><span class="playfair" id="cart-quantity">{{cart.quantity}}</span></div>
                    <div>
                    <a href="{% url 'add_cart' product_id=cart.product.product_id %}">
                        <img class="cart-btn" id="plus-button" src="{% static 'img/icons/Plus-circle.svg' %}" />
                    </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h4>Oraindik ez duzu produkturik gehitu zure saskira...</h4>
        {% endif %}  
    </div>
    <div class=" flex fl-direc-colum m-left-10 ">
        
        <div class="section-title"> <h3>Eskaera Helbidea:</h3></div>
    </div>
    <div class="separate-line"></div>
    <div class="row flex fl-direc-colum">
        <div class="row flex ">
            {% if addresses %}
                {% for address in addresses %}
                <div class="col-lg-10">
                    <div class="p-address"><p> {{ address.address1 }} ...</p></div>
                </div>
                {% endfor %}
            {% else %}
                <h4>Gutxienez helbide bat gehitu behar duzu erosketa egiteko.</h4>
            {% endif %}
        </div>
        <a class=" mt-10 btn btn-green wid-20" href="{% url 'profile' %}" role="button">Sortu helbidea</a>

        <div id="newAddressForm" class="popup">
        </div>
        <a class=" mt-10 btn btn-green wid-20 " href="#" onclick="showPaymentForm()"><strong>Ordaindu</strong></a>
        <div id="paymentForm" class="popup">
        </div>
    </div>
</div>
{% endblock %}
