{% extends 'onlybites_web/base.html' %}
{% block content %}

<h1>Cart</h1>

<h3>Profile cart products:</h3>
    <ul>
        {% for cart in carts %}
        <li>{{ cart.product.name }} ---------------- x{{cart.quantity}}  <a class="btn btn-danger" href="{% url 'delete_cart' cart_id=cart.id %}" role="button">Quit</a>
        </li>
        {% endfor %}
    </ul>

<h3>Addresses:</h3>
    <ul>
        {% for address in addresses %}
        <li>{{ address.address1 }} ...</li>
        {% endfor %}
    </ul>

{% endblock %}