{% extends 'onlybites_web/base.html' %}
{% block content %}
{% load static %}



<div class="row intro">
       
    <div class="col-lg-9 col-md-9">
        <h1>Gure sukaldetik zure etxera <span id='italic'>bite</span> batean</h1>
       
    </div>
    
</div>
</div>
<div class="pink">
    <div class=" container ">
        <div class="row ">
            <div class="dropdown right">
                <!--boton de filtro-->
                <button class="btn btn-dropdown" id="dropdownbutton">Filtroak <img src="{% static 'img/icons/filtro.svg' %}"></button>
                <!--filtros-->
                <div class="dropdown-content" id="dropdownContent">
                    <label><input type="checkbox" name="vegan" value="vegan"> Vegan 1</label>
                    <label><input type="checkbox" name="celiac" value="sin-gluten"> Gluten gabe</label>
                </div>
            </div>
            </div>
        </div>
    </div>

   
</div>

{% for product in allProducts %}
    <h4><a href="{% url 'product' product_id=product.product_id %}">{{ product.name }}</a></h4>
    <br>
{% endfor %}

{% endblock %}