{% extends 'onlybites_web/base.html' %}
{% block content %}
{% load static %}



<div class="row intro">
    <div class="col-lg-9 col-md-9">
        <h1>Gure sukaldetik zure etxera <span id='italic'>bite</span> batean</h1>
    </div>
</div>
</div>
<div class="pink">
    <div class=" container ">
        <div class="row fl-jc-end ">
        
            <div class="dropdown  flex">

                <!--boton de filtro-->
                <div class="btn btn-dropdown f-zie-18 " id="dropdownbutton">Filtroak <img src="{% static 'img/icons/filtro.svg' %}"></div>
                <!--filtros-->

            </div>
            <div  id="filter-container" class="mb-2" style="display: none;">
                <form class="filter-form ">
                    <div class="filter-item">
                        <label for="vegan" class="l-name">Beganoa</label>

                        <input type="checkbox" id="vegan">
                    </div>

                    <div class="filter-item">
                        <label for="celiac" class="l-name">Zeliakoa</label>
                        <input type="checkbox" id="celiac">
                    </div>

                    <div class="filter-item">
                        <label for="max-calories" class="l-name">Max. Kaloria</label>
                        <input type="number" id="max-calories">
                    </div>

                    <div class="filter-item allergies-group" id="allergiesList">
                        <label class="l-name">Alergenoak</label>
                        {% for allergen in allAllergens %}
                        <div class="allergy-option">
                            <label for="allergy-fruit">{{ allergen.name }}</label>
                            <input type="checkbox" name="{{ allergen.allergen_id }}" class="allergies">
                            
                        </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
        <div class="mb-5" id="productList">
            {% include "onlybites_web/product_list.html" %}        
        </div>
    </div>
</div>

{% endblock %}