{% extends 'onlybites_web/base.html' %}
{% block content %}

{% load static %}


<div class="row intro">
       
    <div class="col-lg-9 col-md-9 flex fl-direc-colum">
        <h1>Zure gustukoen  <span id='italic'>bite-ak</span> jateko prest?</h1>
        <div id="back-page-botton" ><a href="{% url 'menu' %}"> <img src="{% static 'img/icons/Arrow left-circle.svg' %}"></a></div>
       
    </div>
   
    
</div>
</div>
<div class="pink">
    <div class=" container flex flex-center ">
        <div class="flex fl-direc-row bor-top" id="p-details-bloc">
            <div id="pr-img">
                <!--   {% for image in images %}
                  <li> {{ image.path }} </li>
                  {% endfor %} -->
                  <img id="pr-img" src="{% static 'img/boloñesa.png' %}" alt="({{image.alt}})">
            </div>
            <div class="flex fl-direc-colum fl-justcon-sbetw" id="p-details" >

                <div id="p-name">
                    <h3>{{ product.name }}</h3>
                </div>
                

                {% for allergen in allergens %}
                <div id="p-añergen">
                <!--meter icono de alergeno-->

                 </div>
        
                {% endfor %}
                <dic id="cal"> <p>{{ product.calories }}</p></dic>
                  
                 <div id="p-description">
                    <p>{{ product.description }}</p>
                 </div>
                 <!--price and add to cart button, display block at the end-->
                 <div class="flex fl-direct-row fl-justcon-sbetw fl-end">
                    <p class="f-w-bold playfair cart-price">6.90€</p>
                    <div><img class="cart-btn" id="plus-button"
                        src="{% static 'img/icons/Plus-circle.svg' %}" />
                    </div>
                 </div>
            </div>
        </div>
        
    </div>
</div>

<h1>{{ product.name }}</h1>

<h3>Product information:</h3>
<ul>
    <li><strong>Description: </strong> {{ product.description }}</li>
    <li><strong>Stock: </strong> {{ product.stock }}</li>
    <li><strong>Vegan: </strong> {{ product.vegan }}</li>
    <li><strong>Celiac: </strong> {{ product.celiac }}</li>
    <li><strong>Calories: </strong> {{ product.calories }}</li>
    <li><strong>Valoration avg: </strong> {{ product.valoration_avg }}</li>
    <li><strong>Price: </strong> {{ product.price }}</li>
</ul>

<h3>Product images:</h3>
    <ul>
        {% for image in images %}
        <li> {{ image.path }} ({{image.alt}})</li>
        {% endfor %}
    </ul>

<h3>Product allergens:</h3>
    <ul>
        {% for allergen in allergens %}
        <li><strong> {{ allergen.name }}:</strong> {{ allergen.description }}</li>
        {% endfor %}
    </ul>

<h3>Product valorations:</h3>
    <ul>
        {% for valoration in valorations %}
        <li><strong> {{ valoration.profile.name }}:</strong> {{ valoration.value }}/5 - {{ valoration.message }}</li>
        {% endfor %}
    </ul>

{% endblock %}