{% extends 'onlybites_web/base.html' %}
{% load i18n %}
{% block content %}

{% load static %}

<div class="row intro">
       
    <div class="col-lg-9 col-md-9 flex fl-direc-colum">
        <h1>{% trans "Zure gustukoen  <span id='italic'>bite-ak</span> jateko prest?" %}</h1>
        <div id="back-page-botton" ><a href="{% url 'menu' %}"> <img src="{% static 'img/icons/Arrow left-circle.svg' %}"></a></div>
       
    </div>
   
    
</div>
</div>
<div class="pink">
    <div class=" container flex flex-center ">
        <div class="flex fl-direc-row bor-top" id="p-details-bloc">
            <div id="pr-img">
                <!--   {% for image in images %}
                  <li> {{ image.path }} </li>
                  {% endfor %} -->
                  <img id="pr-img" src="{% static 'img/boloñesa.png' %}" alt="{{image.alt}}">
            </div>
            <div class="flex fl-direc-colum " id="p-details" >

                <div id="p-name"class="mb-2 flex">  
                    <h3>{{ product.name }}</h3>
                </div>
                
                <div class="flex fl-direc-colum mb-2" id="alergens">
                    {% for allergen in allergens %}
                    <div id="p-añergen">
                    <!--meter icono de alergeno-->
    
                     </div>
            
                    {% endfor %}
                </div>
               
                <div id="cal" class="mb-2 flex"> <p>{{ product.calories }} cal</p></div>
                  
                 <div id="p-description" class="mb-2">
                    <p>{{ product.description }}</p>
                 </div>
                 <!--price and add to cart button, display block at the end-->
                 <div class="flex fl-direct-row fl-justcon-sbetw  end-aligned">
                    <p class="f-w-bold playfair cart-price">6.90€</p>
                    <div>
                        <a href="{% url 'add_cart' product_id=product.product_id %}">
                            <img class="cart-btn" id="plus-button" src="{% static 'img/icons/Plus-circle.svg' %}" />
                        </a>
                    </div>
                 </div>
                 <!--safe for vegand and celiac-->
                 <div class="mb-2 flex  fl-direc-row" >
                    {% if product.vegan %}
                        <div class="apt f-w-bold "><p class="playfair f-zie-18">{% trans "Beganoa" %}</p></div>
                    {% endif %}
                    {% if product.celiac %}
                    <div class="apt f-w-bold"><p class="playfair f-zie-18">{% trans "Zeliakoentzat aptoa" %}</p></div>
                    {% endif %}
                 </div>
                 
            </div>
        </div>
        
    </div>
    <!--valoracion-->
</div>

<h3>Product valorations:</h3>
<ul>
        {% for valoration in valorations %}
        <li>
            <strong>{{ valoration.profile.name }}:</strong> 
            {% for i in "*****" %}
                {% if forloop.counter <= valoration.value %}
                    ★
                {% else %}
                    ☆
                {% endif %}
            {% endfor %}
            ({{ valoration.value }}/5) - {{ valoration.message }}
        </li>
        {% endfor %}
        {% if user.is_authenticated %}
        <input type="hidden" id="productId" value="{{product.product_id}}"/>
        <a class="btn btn-warning" id="newValorationButton" role="button">Add</a>
        {% endif %}
    </ul>
    <div id="newValorationForm" class="popup">
    </div>


{% endblock %}