{% load static %}

{% for product in allProducts %}
<div class="col-lg-4  flex flex-center ">
    <div class="dish-menu flex fl-direc-colum ">
        <!--link para que envie a info del producto al hacer clik-->
        <a href="{% url 'product' product_id=product.product_id %}" class="flex fl-direc-colum" > 
             <!--imagen del producto -->
            <div  class="product-img-container">
                 <img class="product-img" src="{% static 'img/boloñesa.png' %}" alt="pasta de spaguetis a la boloñesa">
             </div>
              <!--nombre del producto-->
            <div class="product-name f-w-bold f-zie-18 padd-10">
                <p>{{ product.name }}</p>
            </div>
        </a>
        <!--precio del produkto-->
        <div class="flex fl-justcon-sbetw padd-10 ">
            <div class="dish-price flex  f-zie-18">
                <p>{{ product.price }}€</p>

            </div>
             <!--boton de agregar-->
            <div class="plus-icon " id="add-product">
                <img src="{% static 'img/icons/Plus-circle.svg' %}" >
            </div>
            
        </div>
    </div>
</div>
{% endfor %}