{% extends 'onlybites_web/base.html' %}
{% block content %}

<h1>{{ user.name }}</h1>

<h3>User information:</h3>
<ul>
    <li><strong>Name: </strong> {{ user.name }}</li>
    <li><strong>Surname: </strong> {{ user.surname }}</li>
    <li><strong>Birthdate: </strong> {{ user.birthdate }}</li>
    <li><strong>Mail: </strong> {{ user.mail }}</li>
    <li><strong>Telephone: </strong> {{ user.telephone }}</li>
</ul>

<h3>User addresses:</h3>
    <ul>
        {% for address in addresses %}
        <li>{{ address.address1 }} ...</li>
        {% endfor %}
    </ul>

{% endblock %}