{% extends 'onlybites_web/base.html' %}
{% block content %}
{% load static %}
<div class="wid-80 flex fl-direc-colum m-left-10 ">
    <div id="hello">
        <h1>Kaixo, {{ profile.name }}</h1>
    </div>
    <div class="section-title mb-2"> <h3>Bezeroaren datuak</h3></div>
</div>

<div class="separate-line"></div>
<div class="wid-80 flex fl-direc-colum m-left-10 mb-5 ">
    <div class="row flex ">
        <div class="col-lg-6">
            <div class="p-lable"><p></p>Izena<p></p></div>
            <div class="p-info"><p>{{ profile.name }}</p></div>

        </div>
        <div class="col-lg-6">
            <div class="p-lable "><p></p>Abizena<p></p></div>
            <div class="p-info"><p>{{ profile.surname }}</p></div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="p-lable"><p></p>Posta helbidea<p></p></div>
            <div class="p-info"><p>{{ profile.email }}</p></div>

        </div>
        
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="p-lable"><p></p>Telefono zenbakia<p></p></div>
            {% if profile.telephone %}
            <div class="p-info"><p>{{ profile.telephone }}</p></div>
            {% else %}
            <div class="p-info-empty "></div>
            {% endif %}
        </div>
        <div class="col-lg-6">
            <div class="p-lable"><p></p>Jaiotze datad<p></p></div>
            <div class="p-info"><p>{{ profile.birthdate }}</p></div>

        </div>
    </div>
   
</div>
   
 <form action="{% url 'delete_profile' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" class="btn  btn-red" >
            Eliminar Perfil
        </button>
    </form>

<div class="wid-80 flex fl-direc-colum m-left-10 ">
  
    <div class="section-title"> <h3>Eskaera helbideak:</h3></div>
</div>
<div class="separate-line mb-2 "></div>
<div class="wid-80 flex fl-direc-colum m-left-10 ">
    <div id="addressList">
      {% include "onlybites_web/address_list.html" %}
    </div>

    <a class="mt-40 btn btn-green wid-20" id="addAddressButton" role="button">Sortu helbidea</a>

    <div id="newAddressForm" class="popup shadow radius ">
    </div>
    <form action="{% url 'delete_profile' %}" method="post" style="display: inline;">
        {% csrf_token %}
        <button type="submit" style="background-color: red; color: white; padding: 10px; border: none; cursor: pointer;">
            Eliminar Perfil
        </button>
    </form>
</div>
{% endblock %}