#producto-carrito {
  margin: auto;
  background-color: #fdf1ec;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 2rem;
}

.cart {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.cart-img {
  
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.plus-icon img {
  transition: transform 0.2s;
}


.cart-img-container {
  height: 85%;
  overflow: hidden;
  border-radius: 20px;
  align-items: center;
}
.cart-product {
  color: #718238;
  
}
.cart-price {
  font-size: 25px;
 
}
.playfair {
  font-family: "Playfair Display";
}
.cart-btn {
  width: 40px;
height: auto;
margin: 5px;
  cursor: pointer;
  
}
.cart-btn:hover{
  transform: scale(1.1);
}
.ml-20{
  margin-left: 20px;
}
.alg-it-start{
 
  align-items: start;
}
.height-120{
  height: 120px;
}
.wid-90{
  width: 90%;
}
#amount{
  margin: 10px;
  font-size: 50px;
}
.btn:focus,
        .btn:active {
            color: white !important;
        }