/*home */
@media (min-width: 280px) and (max-width:480px) {
   /*delete home intro img*/
   body, html {
    overflow-x: hidden; /* Oculta el scroll horizontal */
   
    padding: 0;
    width: 100%;
  }
   nav{
    display: none !important;
   }
   .intro {
    max-width: 100% !important; 
    padding: 0;
 }
    #home-image,
    #home-image img {
      display: none !important;
      overflow-x: hidden; 
    }
   
    .container {
        max-width: 100% !important;
        
        padding: 0;
        overflow-x: hidden;
     }
    h1{
        font-size: 32px !important;
    }
    h3{
        font-size: 20px !important;
    }
    h2{
        font-size: 25px !important;
    }
    p{
        font-size: 15px !important;
    }
    .blank-space {
        padding-top: 10rem;
    }
    .row{
        margin: 0 0 5px 0   !important;
    }
    .pink{
        padding: 5px !important;
    }
    footer{
        max-width:  100% !important;
        height: auto;
    }
    /*display most liked dish */
    .popular-dish img {
        width: 80%;
        height: auto;
        border-radius: 10px;
    }
    .popular-dish  {
        width: 80%;
        height: auto;   
        
    }
    /* display de los datps en el perfil*/
    .p-info{
        width: auto !important;
    }
    .delete, .sortu{
        margin-left: 2rem;
    }
    /*botoiak txikiagoak izateko*/
    .btn-red, .btn-green, .btn-orange{
        font-size: 15px;
    }
    /*address list*/
   
    #ad-list{
        flex-direction: column;
    }

    /*mennu filters*/
    .filter-item {
        flex-direction: column;
        
    }
    
    /*carrito*/
  .cart-img{
        display: none !important;
    }
    .cart-btn{
        transform: scale(0.5);
    }
    .cart-price{
        font-size: 18px !important;
        align-content: center;
        margin-bottom: 0 !important;
    }
    .cart-product {
        font-size: 18px !important;;
    }
    .min-height{
        min-height: 300px !important;
    }


    /*product details page*/
    #p-details-bloc{
        flex-direction: column !important;
        width: 310px !important;
    }
    #pr-img{
        width: 310px;
        height: auto;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    
    #p-details{
        padding: 9px;
        margin: 0 !important;
    }

    #val{
       padding: 3rem;
    }
  }