* {
    font-family: 'DM Sans', sans-serif;
}

body {
    background-color: #FEFDF9;
    
}

/* Estilos para la barra de navegación */
.navbar-default {
    display: flex;
    margin: 1rem 2rem;
    background-color: white;
    border-radius: 9rem;
    align-items: center;
    height: 90px;
    position:sticky;
}

.container-fluid {
    width: 100%;
    margin: auto 20px auto 20px ;
    display: flex;
    align-items: center;
}
.navbar-collapse{
    width: 100%;
}



.navbar-brand {
    padding: 0;
    width: 90px;
    
    height: 90px;
    
}

/* Estilo para el logo */
.logo-img {
    height: 80px; /* Ajusta según el tamaño de tu logo */
    
}

/* Alineación del menú */
.navbar-nav {
    display: flex;
    align-items: center;
    padding: 10px;
    
}
.navbar-right{
    justify-content: flex-end;
}

/* Estilos para los enlaces del menú */
.navbar-default .navbar-nav > li > a {
    color: #777;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
}

/* Botón de Login */
.navbar-default .navbar-nav .btn-login:hover {
    
    background-color: #6b8e23;
}

/* Botón de Register */
.navbar-default .navbar-nav .btn-register {
    color: white;
    background-color: #6b8e23; /* Color del botón de Register */
    padding: 10px 20px;
    border-radius: 9rem;
   
}

/* Hover en botones */
.row {
    position: relative; /* Para que los elementos absolutos se posicionen respecto a .row */
    padding: 50px 30px;
    overflow: hidden; /* Oculta cualquier parte de la imagen que sobresalga */
    /* Color de fondo para el área */
}

.col-lg-7, .col-md-7 {
    z-index: 2; /* Asegura que el texto esté por encima de la imagen */
}

#home-image {
    position: absolute;
    top: -50px; /* Ajusta según necesites */
    right: -50px; /* Ajusta según necesites */
    z-index: 1; /* Asegura que la imagen esté detrás del texto */
}

#home-image img {
    max-width: 500px; /* Ajusta el tamaño de la imagen */
    border-radius: 20px; /* Para un diseño más suave */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para dar un poco de profundidad */
}